# UFC Data Analysis

## Marshall Ferguson 7/2021

In [3]:
# Imports

import pandas as pd

In [4]:
# Read in dataset

df = pd.read_csv('ufc-master.csv')

df

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout,r_dec_odds,b_dec_odds,r_sub_odds,b_sub_odds,r_ko_odds,b_ko_odds
0,Dustin Poirier,Conor McGregor,-129,100,77.519380,100.000000,7/10/2021,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,550.0,700.0,575.0,2200.0,165.0,150.0
1,Gilbert Burns,Stephen Thompson,130,-162,130.000000,61.728395,7/10/2021,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,400.0,150.0,475.0,2500.0,525.0,250.0
2,Tai Tuivasa,Greg Hardy,-130,105,76.923077,105.000000,7/10/2021,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,350.0,350.0,1600.0,1800.0,160.0,265.0
3,Irene Aldana,Yana Kunitskaya,-107,-115,93.457944,86.956522,7/10/2021,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,160.0,150.0,1200.0,1200.0,425.0,800.0
4,Sean O'Malley,Kris Moutinho,-1000,580,10.000000,580.000000,7/10/2021,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,400.0,1400.0,800.0,1600.0,-300.0,1200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4778,Duane Ludwig,Darren Elkins,-155,135,64.516129,135.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Blue,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4779,John Howard,Daniel Roberts,-210,175,47.619048,175.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,0.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4780,Brendan Schaub,Chase Gormley,-260,220,38.461538,220.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4781,Mike Pierce,Julio Paulino,-420,335,23.809524,335.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,6.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4782,Eric Schafer,Jason Brilz,140,-160,140.000000,62.500000,3/21/2010,"Broomfield, Colorado, USA",USA,Blue,...,1.0,6.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

## Who is the fighter with...

In [9]:
# The most KO/TKO wins

blue_most_KOs = df['B_win_by_KO/TKO'].max()
red_most_KOs = df['R_win_by_KO/TKO'].max()
index_blue_most_KOs = pd.Index(df['B_win_by_KO/TKO']).argmax()
index_red_most_KOs = pd.Index(df['R_win_by_KO/TKO']).argmax()

most_KOs = None
numb_of_KOs = None
if blue_most_KOs > red_most_KOs:
    most_KOs = df['B_fighter'].iloc[index_blue_most_KOs]
    numb_of_KOs = blue_most_KOs
else:
    most_KOs = df['R_fighter'].iloc[index_red_most_KOs]
    numb_of_KOs = red_most_KOs

print(f'The fighter with the most wins by KO/TKO is {most_KOs} with {numb_of_KOs} KOs')

The fighter with the most wins by KO/TKO is Mauricio Rua with 21 KOs

In [20]:
# The most submission wins

blue_most_subs = df['B_win_by_Submission'].max()
red_most_subs = df['R_win_by_Submission'].max()
index_blue_most_subs = pd.Index(df['B_win_by_Submission']).argmax()
index_red_most_subs = pd.Index(df['R_win_by_Submission']).argmax()

most_subs = None
numb_of_subs = None
if blue_most_subs > red_most_subs:
    most_subs = df['B_fighter'].iloc[index_blue_most_subs]
    numb_of_subs = blue_most_subs
else:
    most_subs = df['R_fighter'].iloc[index_red_most_subs]
    numb_of_subs = red_most_subs

print(f'The fighter with the most wins by submission is {most_subs} with {numb_of_subs} submissions')

The fighter with the most wins by submission is Charles Oliveira with 14 submissions

In [5]:
# The most Majority Decision wins

blue_most_MDs = df['B_win_by_Decision_Majority'].max()
red_most_MDs = df['R_win_by_Decision_Majority'].max()
index_blue_most_MDs = pd.Index(df['B_win_by_Decision_Majority']).argmax()
index_red_most_MDs = pd.Index(df['R_win_by_Decision_Majority']).argmax()

most_MDs = None
numb_of_MDs = None
if blue_most_MDs > red_most_MDs:
    most_MDs = df['B_fighter'].iloc[index_blue_most_MDs]
    numb_of_MDs = blue_most_MDs
else:
    most_MDs = df['R_fighter'].iloc[index_red_most_MDs]
    numb_of_MDs = red_most_MDs

print(f'The fighter with the most wins by Majority Decision is {most_MDs} with {numb_of_MDs} MD\'s')

The fighter with the most wins by Majority Decision is Daniel Omielanczuk with 2 MD's

In [7]:
# The most Split Decision wins

blue_most_SDs = df['B_win_by_Decision_Split'].max()
red_most_SDs = df['R_win_by_Decision_Split'].max()
index_blue_most_SDs = pd.Index(df['B_win_by_Decision_Split']).argmax()
index_red_most_SDs = pd.Index(df['R_win_by_Decision_Split']).argmax()

most_SDs = None
numb_of_SDs = None
if blue_most_SDs > red_most_SDs:
    most_SDs = df['B_fighter'].iloc[index_blue_most_SDs]
    numb_of_SDs = blue_most_SDs
else:
    most_SDs = df['R_fighter'].iloc[index_red_most_SDs]
    numb_of_SDs = red_most_SDs

print(f'The fighter with the most wins by Split Decision is {most_SDs} with {numb_of_SDs} SD\'s')

The fighter with the most wins by Split Decision is Gleison Tibau with 5 SD's

In [8]:
# The most Unaninmous Decision wins
blue_most_UDs = df['B_win_by_Decision_Unanimous'].max()
red_most_UDs = df['R_win_by_Decision_Unanimous'].max()
index_blue_most_UDs = pd.Index(df['B_win_by_Decision_Unanimous']).argmax()
index_red_most_UDs = pd.Index(df['R_win_by_Decision_Unanimous']).argmax()

most_UDs = None
numb_of_UDs = None
if blue_most_UDs > red_most_UDs:
    most_UDs = df['B_fighter'].iloc[index_blue_most_UDs]
    numb_of_UDs = blue_most_UDs
else:
    most_UDs = df['R_fighter'].iloc[index_red_most_UDs]
    numb_of_UDs = red_most_UDs

print(f'The fighter with the most wins by Unanimous Decision is {most_UDs} with {numb_of_UDs} UD\'s')

The fighter with the most wins by Unanimous Decision is Neil Magny with 10 UD's

In [21]:
# The most decision wins